.container{
height:550px;
width:900px;
border-color: black;
display: flex;
flex-direction: row;
flex-wrap: wrap;
margin-left: 200px;
}

.child {
height:70px;
width:100px;
border: 2px solid green;
text-align: center;

}